*{
     margin: 0;
    padding: 0;
}
header{
    padding-left: 20px;
    font-size: 1em;
    box-sizing: border-box;

}
body{
    background-image: url("https://img.thuthuatphanmem.vn/uploads/2018/09/27/anh-nen-desktop-4k_105908552.jpg");
    background-size: cover;
}
.login {
    color: #95AECF;
}
.login1 {
    text-align: center;
    color: #576896;
}

.login2 {
    color: #576896;
    text-align: center;
}
.submit {
    color: #576896;
    border: 2px solid #576896;
    background-color: transparent;
    margin-left: 3px;
    margin-right: 3px;
}